<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <style>
        body {
            text-align: center;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            list-style: none;
        }
    </style>
</head>
<body>
    <h1>Pokemon Info Page</h1>
    <h1> <%=allPokemon.name%> </h1>
    <p><img src="<%=allPokemon.img%>"></p>
    <h2>
        <ul>
            Type(s):
            <%for(let i = 0; i < allPokemon.type.length; i++) {%>
                <li> 
                   <div id="type"> <%=allPokemon.type[i]%> </div>
                </li>
            <% } %>
        </ul>
    </h2>
    <h3>
            Statistics: <br>
            <div id="hitpoints"> Hitpoints: <%=allPokemon.stats.hp%></div>
            <div id="attackPoints">Attack points: <%=allPokemon.stats.attack%></div>
            <div id="defensePoints">Defense points: <%=allPokemon.stats.defense%></div>
    </h3>
    <p>
        <a href="/pokemon">Back to Pokedex</a>
    </p>
</body>
</html>